/**GENERAL STYLES**/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 16px;
}

/*LE MIE UTILITIES - IN QUEST'AREA CREO CODICE CSS RIUTILIZZABILE PER DIFFERENTI SEZIONI ED ELEMENTI CHE NELLA PAGINA HTML SI RIPETERANNO*/

/*LAYOUT*/
/*AREA IN CUI FARE IL SETTING DI LARGHEZZA E MARGINI*/

.container-top-page{
  width:1200px;
  margin:auto;
}

.clear::after {
    content: '';
    display: table;
    clear: both;
}

.float-left{
  float: left;
}

.larghezza-50 {
  width: 50%;
}

/**FINE AREA LAYOUT**/

/*TIPOGRAPHY*/
.text-center {
  text-align: center;
}

.colonna{

}

h2.bigger {
    line-height: 1.2;
    font-size: 36px;
}
/*AREA MENU*/

/*DISPLAY INLINE BLOCK - CONSENTE DI INSERIRE UN'ALTEZZA ED UNA LARGHEZZA ALL'ELEMENTO. NON AGGIUNGE UN LINEBREAK DOPO L'ELEMENTO, DI MODO CHE ESSO POSSA AFFIANCARSI AD ALTRI ELEMENTI

*FIRST-CHILD SELECTOR - E' UTILIZZATO PER SELEZIONARE SPECIFICATAMENTE QUEL SELETTORE SOLO SE E' IL FIRST CHILD DI QUEL PARENT

*LAST-CHILD SELECTOR - E' UTILIZZATO PER SELEZIONARE SPECIFICATAMENTE QUEL SELETTORE SOLO SE E' IL LAST CHILD DI QUEL PARENT*/

.menu-inline li {
    display: inline-block;
    padding: 0 10px;
}
.menu-inline li:first-child {
    padding-left: 0;
}
.menu-inline li:last-child {
    padding-right: 0;
}
/**FINE AREA MENU**/

/*HEADER MAIN*/
.header-main{
  background-color: #0c325a;
  height: 965px;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 1400px;
}
.container-top-page{
  background-image: url(./img/background-header.png);
}
.header-navigazione {
  height:80px;
}

.header-navigazione {
    line-height: 80px;
    text-transform: uppercase;
    font-size: 12px;
}

.header-navigazione .header-area-logo img {
    vertical-align: middle;
}

.header-navigazione li a {
    text-decoration: none;
    color: #fff;
}

.header-navigazione .header-area-logo {
    width: 15%;
}

.header-navigazione .navigazione-centrale {
    width: 45%;
}

.header-navigazione .navigazione-destra {
    width: 40%;
}

.header-navigazione .navigazione-destra {
    text-align: right;
}

/**FINE HEADER MAIN**/

/*AREA BUTTONS*/

.button{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 100%;
}

.button-green{
  border:none;
  background-color: #7cbb02;
}
.button-large{
  padding: 20px;
  text-decoration: none;
  color: white;
  margin-left: 350px;
  margin-top: 20px;
}
/**FINE AREA BUTTONS**/
/*JUMBOTRON*/
.container-jumbotron{
  position: relative;
  height: 500px;
}
.larghezza-50{
  width: 50%;
}
.jumbotron-main-claim{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.jumbotron-main-claim h1{
    margin-bottom: 30px;
    font-size: 52px;
    font-weight: 400;
    color: #fff;
    padding-left: 350px;
    padding-bottom: 30px;
    margin-top: 300px;
}
/**FINE JUMBOTRON**/

/*MAIN AREA*/
.efficency {
  background-color: #d3d3d3;
  padding: 40px 15px;
}

.efficency h2{
color: black;
padding-bottom: 10px;
}
.efficency {
font-size: 20px;
}

/*CALC* -> 	LA FUNZIONE CALC EFFETTUA UN CALCOLO IL CUI RISULTATO VERRA' UTILIZZATO COME 'PROPRIETA-VALORE'.Possono essere utilizzati i seguenti operatori: + - */

.three-columns{
    float: left;
    width: calc(100% / 3);
    padding: 0 20px;
}

.three-columns h3{
  font-weight: 400;
}
.informazioni .clear::after {
    content: '';
    display: table;
    clear: both;
}

.informazioni {
    padding: 40px 15px;
    border-bottom: 1px solid lightgray;
}

.informazioni img {
    height: 150px;
    margin-bottom: 20px;
}
.informazioni{
  height:600px;
}

/**SELETTORE ::AFTER Il selettore ::AFTER inserisce qualcosa dopo il contenuto dell'elemento o elementi selezionato/i.Si usa la proprietà del contenuto per specificare il contenuto da inserire.
Si una il selettore ::BEFORE per inserire qualcosa prima del contenuto.*/

.informazioni h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin: 25px auto;
    background: gray;
}
.informazioni h3 {
    font-size: 28px;
    color: #7cbb02;

}
/**FINE AREA INFO**/

/*AREA PIANIFICAZIONE*/
.container-pianificazione .pianificazione-col-left {
    padding: 50px;
    padding-top: 450px;
}
.container-pianificazione img{
  height: 540px;
  width: 480px;
  margin-top: -230px;
}
.pianificazione-col-left .bigger{
  margin-top: -180px;
  margin-bottom: 20px;
  color: black;
  font-weight: 400;
}
.pianificazione-col-left p {
    margin-bottom: 20px;
}

/*FINE AREA PIANIFICAZIONE*/

/*FOOTER - STRUTTURA PIANO*/
.footer{
background-color: #d3d3d3;
margin-bottom: 0;
}
.struttura-piano{
padding: 40px;

}

.struttura-piano h2{
color: black;
padding-bottom: 10px;
}
.struttura-piano p{
font-size: 20px;
}

/*HELP*/

.help-button {
    position: fixed;
    bottom: 0;
    right: 15%;
}

.help-button a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background: #7cbb02;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
}
